<!DOCTYPE html>
<meta charset="utf-8">
<head>
	<title>FOOD POISONING</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>


<body>
	<div id="viz"></div>
	
	<!-- <hr> -->
	<h1>FOOD POISONING</h1>
	<div class="des">
		Data on restaurant-associated foodborne outbreaks reported 
		in England and Wales
		<br> from 1992 to 2009, by national cuisine type.
	</div>

	<div class="bttn cuisine"><br>BY
		<div class="strong">CUISINE</div>
	</div>

	<!-- library -->
	<script src="d3/d3.v3.min.js"></script>
	<script src="d3/queue.v1.min.js"></script>

	<!-- code -->
	<script src="js/viz.js"></script>
</body>

