@font-face {
	font-family: HelveticaNeue;
	src: url(HelveticaNeue.ttf);
}

@font-face {
	font-family: Helvetica;
	src: url(Helvetica.ttf);
}

body {
	background-color: rgba(10,10,10,1);
}

circle {
  stroke: rgba(0,0,0,0),
  opacity: 1
}

#tooltip {   
	font-family: 'Helvetica', sans-serif;
	position: absolute; 
	text-align: center;
	padding: 8px;       
	font-size: 12px;
	border: 1px;
	border-radius: 4px;
	pointer-events: none;
	letter-spacing: 1px;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	visibility: hidden;
}
